<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.textbooks.dao.BookMapper" >
  <resultMap id="BaseResultMap" type="com.textbooks.entity.Book" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="ghs" property="ghs" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="discount" property="discount" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="exd1" property="exd1" jdbcType="VARCHAR" />
    <result column="exd2" property="exd2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, name, ghs, price, discount, num, status, exd1, exd2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_app_books
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_app_books
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.textbooks.entity.Book" >
    insert into t_app_books (Id, name, ghs, 
      price, discount, num, 
      status, exd1, exd2)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{ghs,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{discount,jdbcType=VARCHAR}, #{num,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{exd1,jdbcType=VARCHAR}, #{exd2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.textbooks.entity.Book" >
    insert into t_app_books
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="ghs != null" >
        ghs,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="exd1 != null" >
        exd1,
      </if>
      <if test="exd2 != null" >
        exd2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ghs != null" >
        #{ghs,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="exd1 != null" >
        #{exd1,jdbcType=VARCHAR},
      </if>
      <if test="exd2 != null" >
        #{exd2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.textbooks.entity.Book" >
    update t_app_books
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ghs != null" >
        ghs = #{ghs,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="exd1 != null" >
        exd1 = #{exd1,jdbcType=VARCHAR},
      </if>
      <if test="exd2 != null" >
        exd2 = #{exd2,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.textbooks.entity.Book" >
    update t_app_books
    set name = #{name,jdbcType=VARCHAR},
      ghs = #{ghs,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=VARCHAR},
      num = #{num,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      exd1 = #{exd1,jdbcType=VARCHAR},
      exd2 = #{exd2,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>