<!DOCTYPE html>
<html>
<head>
    <title>new.html</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style>
        .layui-form-item {margin:10px}
    </style>
</head>
<body>
<form class="layui-form layui-form-pane" action="" onsubmit="return false" id="form1" >
    <div class="layui-form-item">
        <label class="layui-form-label">教材名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" required  placeholder="请输入教材名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">选择出版社</label>
        <div class="layui-input-block">
            <select name="ghs" lay-verify="required" lay-search lay-filter="filter" id="view">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">教材价格</label>
        <div class="layui-input-block">
            <input type="text" name="price" required   placeholder="请输入金额" autocomplete="off" class="layui-input">
        </div>
    </div>
  <!--  <div class="layui-form-item">
        <label class="layui-form-label">折扣价</label>
        <div class="layui-input-block">
            <input type="text" name="discount" required   placeholder="请输入金额" autocomplete="off" class="layui-input">
        </div>
    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">数量</label>
        <div class="layui-input-block">
            <input type="text" name="num" required   placeholder="请输入金额" autocomplete="off" class="layui-input">
        </div>
    </div>
   <!-- <div class="layui-form-item">
        <label class="layui-form-label">是否通用教材</label>
        <div class="layui-input-block" >
            <input type="checkbox" name="major" lay-skin="switch" lay-filter="filter">
        </div>
    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">教材图片</label>
        <div class="layui-upload-drag" id="test1" style="margin-left: 10px">
            <i class="layui-icon" >&#xe681;</i>
            <img class="layui-upload-img" id="demo1">
            <p>点击上传，或将文件拖拽到此处</p>
        </div>
        <div class="layui-input-block">
            <input type="hidden" id="img_url" name="image" value="" class="layui-input"/>
        </div>
    </div>
    <!--<div class="layui-form-item">
        <label class="layui-form-label">复选框</label>
        <div class="layui-input-block">
            <input type="checkbox" name="like[write]" title="写作">
            <input type="checkbox" name="like[read]" title="阅读" checked>
            <input type="checkbox" name="like[dai]" title="发呆">
        </div>
    </div>-->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn"  lay-filter="formDemo" id="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>

</div>

<!--出版社 -->
<script id="demo" type="text/html">
         <option value=""></option>
    {{# layui.each(d,function(index,item){ }}
        <option value="{{=item.dvalue}}">{{item.dtext}}</option>
    {{#  }); }}
    {{#  if(d.length === 0){ }}
    无数据
    {{#  } }}
</script>

<script src="../static/js/jquery.js"></script>
<script src="../static/layui/layui.js" charset="utf-8"></script>
<script>
    //Demo
    layui.use(["form","jquery","table","upload","layer","laytpl"], function(){
        var form = layui.form;
        var $ = layui.$;
        var table = layui.table;
        var upload = layui.upload;
        var layer = layui.layer;
        var laytpl=layui.laytpl;
       // laydate = layui.laydate;
        //执行一个laydate实例
      /*  laydate.render({
            elem: '#client_time' //指定元素
        });*/
      //初始化

        //下拉框
        form.on('select(filter)', function(data){
            console.log(data.elem); //得到select原始DOM对象
            console.log(data.value); //得到被选中的值
            console.log(data.othis); //得到美化后的DOM对象


         /*   var data = { //数据
                "title":"Layui常用模块"
                ,"list":[{"modname":"弹层","alias":"layer","site":"layer.layui.com"},{"modname":"表单","alias":"form"}]
            };
            var getTpl=document.getElementById('demo').innerHTML
                ,view = document.getElementById('view');
            laytpl(getTpl).render(data, function(html){
                // view.innerHTML = html;
            });*/
        });

        //监听提交
       /* form.on('submit(formDemo)', function(data){*/
         $('#submit').click(function(){
          //  layer.msg(JSON.stringify($('#form1').serialize()));
            $.ajax({
                url: "/book/insertBook",
                type: "post",
                data:$('#form1').serialize(),
                dataType: "json",
                success: function(data){
                    if(data.data){
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                        parent.layer.msg("新增成功", {icon: 6});
                        parent.location.reload();
                    }else{
                        layer.msg("新增失败", {icon: 5});
                    }
                }
            });
          //  return false;
        });
        //文件上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/upload/uploadImg'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）

                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                console.log(res)
                $('#img_url').attr('value',res.data.src);
                $('#test1').find('i').remove();
                $('#test1').find('p').remove();
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        //下拉列表
        $.ajax({
            url: "/dictionary/ajax_get_dic",
            type: "post",
            data:{"dkey":"app.ghs"},
            dataType: "json",
            success: function(data) {
                if (data.code == 0) {
                    var getTpl = document.getElementById('demo').innerHTML
                        , view = document.getElementById('view');
                    laytpl(getTpl).render(data.data, function (html) {
                         console.log(data.data);
                        view.innerHTML = html;
                        //$("#view").append(html);
                        form.render('select');
                    });
                }
            }

        });

        form.render();
    });





</script>
</body>
</html>
