<!DOCTYPE html>
<html>
<head>
    <title>登录教材管理系统</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style>
        .layui-form-item {margin:10px}
    </style>
</head>
<body>
<form class="layui-form layui-form-pane" action="" onsubmit="return false" id="form1" >
    <div class="layui-form-item">
        <label class="layui-form-label">用户名：</label>
        <div class="layui-input-block">
            <input type="text" name="loginname" lay-verify="required|title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="formDemo" id="submit">登陆</button>
            <button type="reset" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>

</form>

</div>



<script src="../static/js/jquery.js"></script>
<script src="../static/layui/layui.js" charset="utf-8"></script>
<script>
    //Demo
    layui.use(["form","jquery",'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,$ = layui.$
            ,laydate = layui.laydate;

    /*    //自定义验证
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '用户名至少得2个字符';
                }
            }
        });


        form.on('submit(formDemo)', function(data){
            return false;
        });*/

        $('#submit').click(function(){
           var loginname = $("#form1 input[name='loginname']").val();
           var password = $("#form1 input[name='password']").val();
            $.ajax({
                url: "/admin/loginUser",
                type: "POST",
                //data:{"bookId":data.bookId,"memthodname":"edituv","field":field,"value":value},
                data:{"loginname":loginname,"password":password},
                dataType: "json",
                success: function(data){
                    console.log(data);
                    if(data.code===0){
                        //同步更新表格和缓存对应的值
                       layer.msg("登陆成功", {icon: 6});
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                       // parent.layer.msg("登陆成功", {icon: 6});
                       // parent.location.reload();
                        parent.location.href="/index.html";
                    }else{
                        layer.msg(""+data.msg, {icon: 5});
                    }
                }

            });

        });




        //结束
    });

</script>
</body>
</html>
